body {
  background-color: #ecf0f1;
  font-family: 'Quicksand', sans-serif;
  padding-left : 10%;
  padding-right : 10%;
  padding-top : 50px;
  width: 80%;
  text-align: center;;

}

nav {
  background-color: #1abc9c;
  height : 40px;
  width : 100%;
  position: absolute;
  top :0px;
  left : 0px;
  padding : 5px;
  padding-top: 0;
  text-align: center;
  margin : auto;


}
nav ul{

	margin: auto;
	padding-right : 10%;
  padding-left: : 10%;
	list-style: none;
  width : 80%;
	font-size: 2em;
	font-weight: 300;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 15px;
}
nav ul li {

  display: inline;
}

nav a{
  display: inline;
  color : #ecf0f1;
  text-decoration: none;
}
/* affichage des tableaux */
th a{
    color : #ecf0f1;
}
th a:visited{
    color : #ecf0f1;
}
table {
  border-collapse:collapse;
  margin : auto;
  width : 100%;
  text-align: center;
  border-style: solid;
  border-width : 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
table tr{
  background-color: #ecf0f1;
  border-style: solid;
  border-width : 2px;
}
table tr:nth-child(odd){
  background-color: #bdc3c7;

}
table td{
  border-style: solid;
  border-width : 2px;
}
table tr input[type=text]{
    background-color: #ecf0f1;
    border-style :none;
}

table tr:nth-child(odd) input[type=text]{
  background-color: #bdc3c7;

}
table tr input[type=submit]{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  border: solid #3498db 2px;
  background: #3498db;
  text-decoration: none;
}
table .numero{
  width : 15px;
}
th{
  background-color: #1abc9c;
  margin : auto;
  color : #ecf0f1;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width : 2px;
}


.gest_nav {
  margin :auto;
  width : 50%;
  text-align: center;
  background-color: #12b090;
  margin-top : -30px;
  bottom : 0;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.gest_nav ul li{
  display: inline;
  padding-top : 5px;
  padding-bottom: 5px;
  padding-right : 5px;

}
.gest_nav a {
  color : #ecf0f1;
  text-decoration: none;
  font-size: 1.5em;
}
.gest_nav a:hover{
  background-color: #1abc9c;
}

.erreur{
  color:#e74c3c;
}
/** Zone responsive du css **/
@media screen and (max-width: 380px){
  body {
    color : #2c3e50;
    text-align: center;
  }
  nav{
    height : 40px;
    font-size: .7em;
  }
  p {
      font-size : 1.5em;
  }
}
@media screen and (max-width: 599px) and (min-width : 380px) {
  body {
    font-size : 1.5em;
    color : #2c3e50;
    text-align: center;
  }
  nav{
    height : 60px;
    font-size: .5em;
  }

  .gest_nav{
    font-size: .5em;
    margin-top: -5px;
  }
}
@media screen and (max-width : 1106px) and (min-width : 600px){
  body {
    font-size : 1.2em;
    color : #2c3e50;
  }
  nav{
    font-size: .7em;
    height: 65px;
  }
  .gest_nav{
    margin-top: -10px;
    text-align: center;
  }
  .gest_nav ul li{
    font-size: .7em;
    display:block;

  }
}
